<!DOCTYPE html>
<html>
<body>
<h1 style="background-color: #ffcd39">Add Your Car : </h1>


{{ form_start(form) }}

{{ form_row(form) }}

<button type="submit">Submit</button>

{{ form_end(form) }}


<br><br><br><br>

<h1 style="background-color: greenyellow"> Get Car :</h1>


</body>
</html>
