

<form action="{{ path('app_killer_createkiller') }}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <br><br>
    <div>
        <label for="weapon">weapon:</label>
        <textarea id="weapon" name="weapon" required></textarea>
    </div>
    <br>
    <div>
        <label for="kills">kills:</label>
        <input type="number" id="kills" name="kills" required>
    </div>
    <br>
    <div>
        <label for="votes">votes:</label>
        <input type="number" id="votes" name="votes" required>
    </div>
    <br><br>
    <button type="submit">Create Killer</button>
</form>




